page-home {
    .bg-style {
        //background-color: #7E2E1F;
        background-image: url('../assets/imgs/ts.png');
        background-repeat: no-repeat;
        //background-size:  
        background-position:bottom;
    }
    
    .item-md {
        background: transparent;
      }

}
